<h1>Skate Park</h1>

<div class="py-5">
  <h2>Iniciar Sesión</h2>
  <hr class="w-50" />

  <form id="login">
    <div class="form-group">
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control w-50 m-auto" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control w-50 m-auto" />
      </div>
    </div>
    <button type="submit" class="btn btn-success mb-3">Ingresar</button>
    <p>¿Aún no tienes cuenta? <a href="/registro">Regístrate</a></p>
  </form>
</div>


<script>

  document.getElementById("login").addEventListener("submit", async (event) => {
    event.preventDefault()

    const formData = new FormData(event.target)

    const response = await fetch("/auth/login", {
      method: "POST",
      body: formData
    })

    const unauthorizedStatus = [400, 404, 500]
    if (unauthorizedStatus.includes(response.status)) {
      alert("Usuario no existe o contraseña incorrecta / Error de servidor")
      return
    }

    const data = await response.json()

    sessionStorage.setItem('token', data.token)

    window.location = `/datos?token=${sessionStorage.getItem('token')}`
  })
</script>